<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Reddit Clone Assessment</title>
</head>
<body>
  <h1>Shows A Single User</h1>
    <ul> UserID:  <%= user_id %> </ul>
      <ul> Name:  <%= full_name %> </ul>
      <ul> User Name:  <%= user_name %> </ul>
      <ul> Image URL:  <%= img_url %> </ul>
</body>
</html>
